$sidebar-width: 300px;
$topbar-height: 53px;
$mybox-shadow:2px 0px 11px -3px #888888;
$contentHoverBackgroundColr: rgb(206, 202, 202);
$homeLeftContainerColor: #4485cf;
$mainContentBackgroundColor:#ebebeb;
$btnsBackgroundColor: #3F51B5;