@import './variables';

@font-face {
    font-family: 'monotonFont';
    src: url('../../assets/monoton-regular.ttf');
  }
  @font-face {
    font-family: 'montSerratFont';
    src: url('../../assets/Montserrat-variableFont.ttf');
  }