@import './variables';

@font-face {
    font-family: 'montSerratFont';
    src: url('../../assets/Montserrat-variableFont.ttf');
  }
@font-face {
    font-family: 'indieFlower';
    src: url('../IndieFlower-Regular.ttf');
  }
@font-face {
  font-family: 'twinkleFont';
  src: url('../TwinkleStar-Regular.ttf');
}
@font-face {
  font-family: 'exoDemiBold';
  src: url('../Exo-DemiBold.otf');
}
@font-face {
  font-family: 'exoRegular';
  src: url('../Exo-Regular.otf');
}
