@import './variables';

@font-face {
    font-family: 'monotonFont';
    src: url('../../assets/monoton-regular.ttf');
  }
@font-face {
    font-family: 'montSerratFont';
    src: url('../../assets/Montserrat-variableFont.ttf');
  }
@font-face {
    font-family: 'indieFlower';
    src: url('../IndieFlower-Regular.ttf');
  }
@font-face {
  font-family: 'twinkleFont';
  src: url('../TwinkleStar-Regular.ttf');
}