<div class="side-panel-border">
    <ul class="user-loged-container">
      <li>
        <mat-icon class="user-icon">person</mat-icon>
        <h4 class="user-name"> Olá {{appService.logedUser?.name}}</h4>
      </li>
    </ul>
    <div class="first-side-panel">
        <!--<span><img src="assets/imgs/icons/line-start.png" class="line-icon" alt=""></span>-->
        <ul class="first-side-menu-list" [ngSwitch]="appService.logedUser.role">
              <hr class="horizontal-line">
              <li *ngSwitchCase="admin" data-bs-toggle="modal" (click)="openDialog()"><img src="assets/imgs/icons/AddSimulator-icon.png" alt=""><a>Adicionar Simulador</a></li>
              <li *ngSwitchCase="user"(click)="openSimulatorsHistory()"><img src="assets/imgs/icons/AddSimulator-icon.png" alt=""><a>Histórico</a></li>
              <li *ngSwitchCase="user" routerLink="status"><img src="assets/imgs/icons/Status-icon.png" alt=""><a>Saúde do Simulador </a></li>
              <li *ngSwitchCase="admin" routerLink="status"><img src="assets/imgs/icons/Status-icon.png" alt=""><a>Saúde dos Simuladores </a></li>
              <li *ngSwitchCase="admin" routerLink="aulas"><img src="assets/imgs/icons/Status-icon.png" alt=""><a>Preparo de Kits </a></li>
              <li *ngSwitchCase="user" routerLink="aulas"><img src="assets/imgs/icons/bag.png" alt=""><a>Preparo de Kits </a></li>
              <hr class="horizontal-line">
        </ul>
       
    </div>
    
    <div class="second-side-panel">
        <ul class="second-side-menu-list">
          <li><img src="assets/imgs/icons/email-icon.png" alt=""><span>selath10@gmail.com</span></li>
          <li><span>NPM version</span></li>
        </ul>
      </div>
</div>
