@import '../../../assets/scss/variables';

.side-panel-border{
    position: absolute;
    left: 0;
    top: $topbar-height;
    margin-top: 20px;
    width: $sidebar-width;
    height: 100%;
    //box-shadow: $box-shadow;
    .user-loged-container{
        margin-top: 3em;
        margin-left: 1em;
       li{
           display: inline-flex;
           .user-name{
               margin-left: 4px;
           }
       }
    }
    .first-side-panel{
        
        margin-top: 2em;

        .first-side-menu-list{
            list-style: none;

            li{
                padding: 10px;

                a{
                    text-decoration: none;
                    font-family: Arial, Helvetica, sans-serif;
                    font-weight: 1000;
                    margin-left: 12px;
                    color: $homeLeftContainerColor;
                    &:hover{
                        cursor: pointer;
                    }
                }

                &:hover{
                    background-color: $homeLeftContainerColor;
                    border-radius: 4px;
                    cursor: pointer;
                    a{
                        color: white;
                    }
                }
            }
            .horizontal-line{
                margin-right: 60px;
            }
        }
    }
    //line arrow icon
    .line-icon{
        float: right;
    }
    .second-side-panel{
           
        margin-top: 3em;

        .second-side-menu-list{
            list-style: none;
            
            li{
                padding: 10px;

                span{
                margin-left: 12px;
                }
            }
    }
    }
    
}