
@import '../../../assets/scss/variables';
.filter-form{
    margin-left: 30px;
}
.status-container{
    .row{
        .col{
            margin-bottom: 10px;
        }
    }
    .card{
        width: 16em;
        margin-left: 16px;
        .patient-icon{
            margin-left: -6px;
        }
        .card-text{
            //margin-top: 10px;
            width: 120px;
            margin: 10px auto;
            img{
                margin-right: 3px;
            }
            .view-dialog-link{
                color: coral;
                &:hover{
                    cursor: pointer;
                }
            }
        }
        .defaultColor{
            background-color: $homeLeftContainerColor;
            color: white;
        }
        .card-footer{
            padding: 10px;
            .btn-confirm{
                margin: 10px auto;
                width: 200px;
            }
        }
       
    }
}