<div class="page-tittle">
    <h2>Condicao geral Simuladores</h2>
  </div>

<div class="status-container">
    <div class="container padding-container">
        <div class="row">
          <!--ng container tag for using ngFor without repeating the element-->
          <ng-container *ngFor="let element of formData let indexPosition = index">
            <div class="col">
                <div class="card">
                  <div class="card-body">
                    <img class="patient-icon" src="../../assets/imgs/icons/health/criticalPatient.png" alt="">
                    O que vai fazer comigo ?
                    <p class="card-text">
                      <img src="assets/imgs/icons/viewSearch.png" alt="searchIcon">
                      <a class="view-dialog-link" (click)="openViewDialog(element.id)">Ver relatorio</a>
                    </p>
                  </div>
                  <div *ngIf="statusAdminSelection">
                      <ul class="list-group list-group-flush">
                        <li class="list-group-item">Nome: {{element.simulatorName}}</li>
                        <li #liStatusElement class="list-group-item" [class.defaultColor]="isActive">Status:<span>{{valueSelected.value}}</span></li>
                      </ul>
                      <div class="card-footer">
                        <span class="pdf-tittle">Definir Status: </span>
                          <select name="dropdown" #valueSelected>
                            <option value="ABERTO" selected>Aberto</option>
                            <option value="FECHADO">FECHAR</option>
                            <option value="PENDENTE">PENDENTE</option>
                          </select>
                        <button mat-stroked-button color="primary" class="btn-confirm" (click)="getStatus(valueSelected.value,liStatusElement,indexPosition,element)">Confirmar</button>
                      </div>
                  </div>

                  <div *ngIf="statusUserSelection">
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item">Simulador: {{element.simulatorName}}</li>
                      <li class="list-group-item" [class.defaultColor]="isActive">Status:<span> {{element.simulatorStatus}}</span></li>
                    </ul>
                    <div class="card-footer">
                        <button class="btn-confirm" mat-stroked-button>Cuidador: {{element.userLogedName}} </button>
                    </div>
                </div>
                </div>
            </div>
          </ng-container>
        </div>
    </div>
</div>