@import '../../../../assets/scss/variables';
.icon-container{
    img{
       
        margin-top: 4em;
    }
   
}
.page-header-container{
   
    box-shadow: $mybox-shadow;
    background-color: white;
    border-radius: 10px;

    .page-tittle{
        margin-top: 10px;
    }
    .page-sub-tittle{
        margin-top: 46px;
    }
    .array-size-btn{
        vertical-align: top;
        margin-top: -15px;
    }
    
    .code-list{
        margin-top: 67px;
        display: inline-flex;
        li{
            margin-right: 16px;
        }
    }
}
.page-body-container{
    margin-top: 10px;
    box-shadow: $mybox-shadow;
    background-color: white;
    border-radius: 10px;
    .btns-relatorio{
        float: right;
        button{
            margin: 10px;
        }
        .form-generate-btn{
            
                background-color: $homeLeftContainerColor;
        
        }
    }
}
.page-footer-container{
    background-color: white;
}