<h2 class="page-tittle">Relatório do seu simulador {{simulator.simulatorName}}</h2>
<div class="container page-header-container">
    <div class="row">
          <div class="col">
              <h3 class="page-sub-tittle">
                  <img src="../../../assets/imgs/icons/health/goodHealth64.png" alt="">
                  <button class="array-size-btn" mat-mini-fab matTooltip="Simuladores Saudaveis" color="primary">{{arraySize}}</button>
                  Estamos todos Bem !
              </h3>
          </div>
          <div class="col">
              <ul class="code-list">  
                  <li>
                      <mat-form-field appearance="outline">
                          <mat-label>Escolha uma Data...</mat-label>
                          <input #dateinput matInput [matDatepicker]="picker" (dateChange)="gettingDate($event,dateinput)">
                          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                          <mat-datepicker #picker></mat-datepicker>
                      </mat-form-field>
                    </li>
                  <li> 
                      <mat-form-field appearance="outline">
                          <mat-label>Codigo do Simulador...</mat-label>
                          <mat-select [(ngModel)]= "simulatorCode">
                            <!--The [value} property is important! -->
                            <mat-option #option  *ngFor="let element of simulator.simulatorCodes; let i = index"
                                    [value] = "element" (click)="getMatOptionElement(option,i)">
                                    {{element}} 
                            </mat-option>
                          </mat-select>
                      </mat-form-field>
                  </li>
                  
              </ul>
          </div>
    </div>
</div>
<div class="container page-body-container">
    <div class="row">
        <div class="col">
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Pulsos</th>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row" [innerHtml]="tableName1"></th>
                    <td>
                        <mat-form-field appearance="outline">
                            <mat-label> Definir...</mat-label>
                            <mat-select [(ngModel)]="carotideoDireitoValue">
                              <mat-option value="Parou de Funcionar">Parou de Funcionar</mat-option>
                              <mat-option value="Pulso Fraco">Pulso Fraco</mat-option>
                              <mat-option value="Nenhuma Falha">Nenhuma Falha</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row"[innerHtml]="tableName2"></th>
                    <td>
                        <mat-form-field appearance="outline">
                        <mat-label>Definir...</mat-label>
                        <mat-select [(ngModel)]="carotideoEsquerdoValue">
                          <mat-option value="Parou de Funcionar">Parou de Funcionar</mat-option>
                          <mat-option value="Pulso Fraco">Pulso Fraco</mat-option>
                          <mat-option value="Nenhuma Falha">Nenhuma Falha</mat-option>
                        </mat-select>
                        </mat-form-field>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row" [innerHtml]="tableName3"></th>
                    <td colspan="2">
                        <mat-form-field appearance="outline">
                            <mat-label>Definir...</mat-label>
                            <mat-select [(ngModel)]= "radialDireitoValue">
                              <mat-option value="Parou de Funcionar">Parou de Funcionar</mat-option>
                              <mat-option value="Pulso Fraco">Pulso Fraco</mat-option>
                              <mat-option value="Nenhuma Falha">Nenhuma Falha</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row" [innerHtml]="tableName4"></th>
                    <td colspan="2">
                        <mat-form-field appearance="outline">
                            <mat-label>Definir...</mat-label>
                            <mat-select [(ngModel)] = "braquealDireitoValue">
                              <mat-option value="Parou de Funcionar">Parou de Funcionar</mat-option>
                              <mat-option value="Pulso Fraco">Pulso Fraco</mat-option>
                              <mat-option value="Nenhuma Falha">Nenhuma Falha</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row" [innerHtml]="tableName5"></th>
                    <td colspan="2">
                        <mat-form-field appearance="outline">
                            <mat-label>Definir...</mat-label>
                            <mat-select [(ngModel)] = "manguitoValue">
                              <mat-option value="Parou de Funcionar">Parou de Funcionar</mat-option>
                              <mat-option value="Nenhuma Falha">Nenhuma Falha</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </td>
                  </tr>
                </tbody>
            </table>  
        </div>
        <div class="col">
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Gerais</th>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row"[innerHtml]="tableName6"></th>
                    <td>
                        <mat-form-field appearance="outline">
                            <mat-label>Definir...</mat-label>
                            <mat-select [(ngModel)] = "incursoesRespValue">
                              <mat-option value="Parou de Funcionar">Parou de Funcionar</mat-option>
                              <mat-option value="Nenhuma Falha">Nenhuma Falha</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row" [innerHtml]="tableName7"></th>
                    <td>
                        <mat-form-field appearance="outline">
                        <mat-label>Definir...</mat-label>
                        <mat-select [(ngModel)] = "eletrodosMonitValue">
                          <mat-option value="Parou de Funcionar">Parou de Funcionar</mat-option>
                          <mat-option value="Faltam Eletrodos">Faltam Eletrodos</mat-option>
                          <mat-option value="Nenhuma Falha">Nenhuma Falha</mat-option>
                        </mat-select>
                        </mat-form-field>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row" [innerHtml]="tableName8"></th>
                    <td colspan="2">
                        <mat-form-field appearance="outline">
                            <mat-label>Definir...</mat-label>
                            <mat-select [(ngModel)] = "bordasChoqueValue">
                              <mat-option value="Parou de Funcionar">Parou de Funcionar</mat-option>
                              <mat-option value="Faltam Bordas">Faltam Bordas</mat-option>
                              <mat-option value="Nenhuma Falha">Nenhuma Falha</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row"[innerHtml]="tableName9"></th>
                    <td colspan="2">
                        <mat-form-field appearance="outline">
                            <mat-label>Definir...</mat-label>
                            <mat-select [(ngModel)] = "auscultaCardiacaValue">
                              <mat-option value="Parou de Funcionar">Parou de Funcionar</mat-option>
                              <mat-option value="Nenhuma Falha">Nenhuma Falha</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row" [innerHtml]="tableName10"></th>
                    <td colspan="2">
                        <mat-form-field appearance="outline">
                            <mat-label>Definir...</mat-label>
                            <mat-select [(ngModel)] = "auscultaPulmonarValue">
                              <mat-option value="Parou de Funcionar">Parou de Funcionar</mat-option>
                              <mat-option value="Nenhuma Falha">Nenhuma Falha</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </td>
                  </tr>
                </tbody>
            </table> 
        </div>

        <p>Outros Relatos</p>
        <mat-form-field class="example-full-width">
          <mat-label>Relate outras intercorrencias...</mat-label>
          <textarea matInput #textArea></textarea>
        </mat-form-field>


        <div class="gerar-relatorio-btn-container">
            <div class="btns-relatorio">
                <button mat-raised-button routerLink="/private/simuladores">Voltar</button>
                <button mat-raised-button color="primary" class="form-generate-btn" (click)="onSubmit(textArea)">Gerar Relatorio</button>
                
            </div>
        </div>
    </div>
</div>
