@import './../../assets/scss/variables';

.topbar-container{
    position: absolute;
    z-index: 1;
    width: 100%;
    height: $topbar-height;
    left: 0;
    right: 0;
    padding-top: 5px;
    box-shadow: $mybox-shadow;
    
    .col-4{
        display: inline-flex;
        margin-top: 9px;

        .app-burguer{
            margin-left: 15px;
            img:hover{
                cursor: pointer;
            }
        }
        .app-tittle-logo{
            h4{
                margin-left: 10px;
                &:hover{
                    cursor: pointer;
                }
            }

        }
    }
    .menu-links{
        float: right;
        margin-top: 1px;
        margin-right: 10px;
        list-style: none;
        display: inline-flex;
        font-size: 19px;

        li{
            padding: 10px;
            margin-right: 10px;

            &:hover{
                cursor: pointer;
                background-color: $homeLeftContainerColor;
                border-radius: 4px;
                color: white;
            }
        }
        
    }
}