<div class="topbar-container">
    <div class="row">
        <div class="col-4">
            <span class="app-burguer">
                <img src="assets/imgs/icons/menu-burguer.png" alt="sww">
              </span>
              <span class="app-tittle-logo">
                <h4>Linchpin Application</h4>
            </span>
        </div>
        <div class="col-8">
            <ul class="menu-links">
                <li routerLink="/home">Home</li>
                <li routerLink="/simuladores">Simuladores</li>
                <li routerLink="/relatorios">Relatórios</li>
              </ul>
        </div>
    </div>
</div>
