<div *ngIf="userRoleSelection" class="container first-container">
    <div class="row">
        <div class="col-3 add-th">
            <p>Novo TH</p>
            <mat-form-field>
                <mat-label>Novo Periodo</mat-label>
                <input matInput #newPeriod>
            </mat-form-field>
            <button class="classes-btns" mat-raised-button (click)="addNewPeriod(newPeriod)">Adicionar</button>
            <p>Nova Lista</p>
            <mat-form-field>
                <mat-label>Nova Aula</mat-label>
                <input matInput #newClass>
            </mat-form-field>
            <button class="classes-btns" mat-raised-button (click)="addNewClass(newClass)">Adicionar</button>
        </div>
        <div class="col-9 add-classes">
                <p>Materiais Necessários</p>
                <div class="container">
                        <mat-form-field appearance="fill">
                            <mat-label>Selecione Lista</mat-label>
                            <mat-select>
                                <mat-option #matOption (click)="classListOption(matOption)" [value]= "element" *ngFor= "let element of classesFromJson">{{element.name}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                        
                        <mat-form-field appearance="fill">
                            <mat-label>Nome do item</mat-label>
                            <input matInput #itemName>
                        </mat-form-field>

                        <mat-form-field appearance="fill">
                            <mat-label>Quantidade</mat-label>
                            <input matInput #itemQuantity>
                        </mat-form-field>
                        <button class="classes-btns" mat-raised-button (click)="getMaterialFormValues(itemName,itemQuantity)">Novo Material</button>
                </div>
                <p>Simuladores Necessários</p>
                <div class="container">
                        <mat-form-field appearance="fill">
                            <mat-label>Selecione Lista</mat-label>
                            <mat-select>
                                <mat-option #matOption (click)="classListOption(matOption)" [value]= "element" *ngFor= "let element of classesFromJson">{{element.name}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                        
                        <mat-form-field appearance="fill">
                            <mat-label>Nome do Simulador</mat-label>
                            <mat-select [(ngModel)]="selectedSimulator">
                                <mat-option value = "Ressusci Anne" >Ressusci Anne</mat-option>
                                <mat-option value = "Mega Code Kelly" >Mega Code Kelly</mat-option>
                                <mat-option value = "Mega Code Kid" >Mega Code Kid</mat-option>
                                <mat-option value = "Hurt queimadura" >Hurt queimadura</mat-option>
                                <mat-option value = "Braço punção Venosa" >Braço punção Venosa</mat-option>
                                <mat-option value = "Modelo Drenagem Toráxica">Modelo Drenagem Toráxica</mat-option>
                                <mat-option value = "Torso Punção Central">Torso punção Central</mat-option>
                                <mat-option value = "Sondagem Vesical F/M">Sondagem Vesical F/M</mat-option>
                                <mat-option value = "Monitor Cardiaco">Monitor Cardiaco</mat-option>
                            </mat-select>
                            
                        </mat-form-field>
                        <mat-form-field appearance="fill">
                            <mat-label>Quantidade</mat-label>
                            <input matInput #simulatorQuantity>
                        </mat-form-field>
                        <button class="classes-btns" mat-raised-button (click)="getSimulatorFormValues(simulatorQuantity)">Novo Simulador</button>
                </div>
        </div>
    </div>
</div>

<div class="container second-container">
    <div class="row">
        <div class="col-3 side-colum">
            <p> Periodos </p>
            <div class="container">
                <button class="classes-btns" mat-stroked-button>Aulas TH7</button>
                <button class="classes-btns" mat-stroked-button>Aulas TH8</button>
            </div>
        </div>
        <div class="col-9 main-colum">
            <p>Montagem da Aula</p>
                <div *ngFor="let classe of classesFromJson">
                    <mat-accordion>
                        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    {{classe.name}}
                                </mat-panel-title>
                                <mat-panel-description>
                                Currently I am {{panelOpenState ? 'open' : 'closed'}}
                                </mat-panel-description>
                            </mat-expansion-panel-header>
                        <p>Confira os materiais necessários</p>
                        <mat-tab-group>
                            <mat-tab label="Materiais Necessários">
                                 
                                <table mat-table [dataSource]="classe.classMaterial" class="mat-elevation-z8">
                                   <!-- item Column -->
                                    <ng-container matColumnDef="item">
                                      <th mat-header-cell *matHeaderCellDef> </th>
                                      <td mat-cell *matCellDef="let element"> {{element.item}} </td>
                                    </ng-container>
    
                                    <!-- quantity Column -->
                                    <ng-container matColumnDef="quantity">
                                      <th mat-header-cell *matHeaderCellDef> </th>
                                      <td mat-cell *matCellDef="let element"> {{element.quantity}} </td>
                                    </ng-container>
                                    <tr mat-header-row *matHeaderRowDef="tableMaterialNames"></tr>
                                    <tr mat-row *matRowDef="let row; columns: tableMaterialNames;"></tr>
                                </table>
                            </mat-tab>
                            <mat-tab label="Simuladores Necessários"> 
                                <table mat-table [dataSource]="classe.classSimulators" class="mat-elevation-z8">
                                    <!-- item Column -->
                                     <ng-container matColumnDef="item">
                                       <th mat-header-cell *matHeaderCellDef> </th>
                                       <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                                     </ng-container>
     
                                     <!-- quantity Column -->
                                     <ng-container matColumnDef="quantity">
                                       <th mat-header-cell *matHeaderCellDef> </th>
                                       <td mat-cell *matCellDef="let element"> {{element.quantity}} </td>
                                     </ng-container>
                                     <tr mat-header-row *matHeaderRowDef="tableMaterialNames"></tr>
                                     <tr mat-row *matRowDef="let row; columns: tableMaterialNames;"></tr>
                                 </table>
                            </mat-tab>
                            <mat-tab label="Em armazenamento"> Content 3 </mat-tab>
                        </mat-tab-group>
                        <button class="add-class-btn" mat-raised-button color="primary" routerLink="/private/aulas/{{classe.id}}"> Montar Aula!</button>
                        </mat-expansion-panel>
                    </mat-accordion>
                    <hr>
                </div>
        </div>
    </div>
</div>
