@import '../../../assets/scss/variables';
.home-panel{
    height: 100%;
    .row{
        width: 1000px;
        margin: 30px auto;
        .col{
            height: 500px;
            //border: 1px dotted black;
            .left-col-container{
                margin-top: 40px;
                box-shadow: 2px 0px 11px -3px #888888;
                border-radius: 5px;
                background-color: $homeLeftContainerColor;
                width: 700px;
                height: 600px;
                margin-left: 3em;
                .home-list{
                    position: absolute;
                    margin-top: 10em;
                    margin-left: 4em;
                    color: white;
                    .login-tittle{
                        width: 200px;
                        margin: auto;
                        font-family: 'exoDemiBold';
                        font-size: 70px;
                        margin-bottom: 50px;
                    }
                    li{
                        padding: 10px;
                        
                    }
                    .mat-form-field{
                        width: 300px;
                    }
                    .register-link{
                        color: white;
                        list-style: none;
                        text-decoration: none;
                        margin-left: 37px;
                       &:hover{
                           cursor: pointer;
                       }
                    }
                }
            }
            .right-col-container{
                box-shadow: 2px 0px 11px -3px #888888;
                background-color: white;
                border-radius: 25px;
                z-index: 1;
                position: absolute;
                width: 570px;
                height: 500px;
                margin-left: -20em;
                margin-top: 6em;
                .center-content{
                    margin-top: 5em;
                    margin-left: 2em;
                }
            }
        }
    }
  
  
}