<div class="home-panel">
    <div class="container">
        <div class="row">
            <div class="col left-col">
                <div class="left-col-container">
                    <div class="home-list">
                      <button mat-raised-button color="primary">ok</button>
                    </div>
                </div>
            </div>
            <div class="col right-col">
                <div class="right-col-container">
                        <div class="center-content">
                            <p class="app-logo">Linchpin @</p>
                            <p class="app-sub-logo">Cuide da saúde do seu simulador</p>
                        </div>
                        
                </div>
            </div>
        </div>
    </div>
   
</div>