<div class="home-panel">
    <div class="container">
        <div class="row">
            <div class="col left-col">
                <div class="left-col-container">
                    <ul class="home-list">
                        <h2 class="login-tittle">Login</h2>
                        <li>
                            <mat-form-field class="mat-form-field">
                                <mat-label>Seu nome</mat-label>
                                <input matInput #loginName maxlength="20" placeholder="Ex. carlos.souza">
                              </mat-form-field>
                        </li>
                        <li>
                            <mat-form-field class="mat-form-field">
                                <mat-label>Senha</mat-label>
                                <input matInput #password (keyup.enter)="getLoginInfo(loginName.value,password.value)" type="password"  maxlength="10" placeholder="">
                                <mat-hint align="end">{{password.value.length}} / 10</mat-hint>
                              </mat-form-field>
                              
                        </li>
                        <li>
                            <button mat-raised-button color="primary" (click)="getLoginInfo(loginName.value,password.value)">Entrar</button>
                            <a class="register-link">{{loginMessage}}</a>
                        </li>
                        
                    </ul>
                </div>
            </div>
            <div class="col right-col">
                <div class="right-col-container">
                        <div class="center-content">
                            <img src="../../../assets/imgs/logo/linchPinSlogan.svg" alt="">
                        </div>
                </div>
            </div>
        </div>
    </div>
   
</div>