<div class="icon-container">
  <p>--</p>
  <!--<img src="\assets\imgs\icons\line-end.png" alt="sws">-->
</div>
<div class="container page-header-container">
    <div class="row">
      
          <div class="col">
              <h2 class="page-tittle">{{mysimulator.name}}</h2>
              <h3 class="page-sub-tittle">
                  Quantidade
              <span class="badge bg-success">{{mysimulator.codes.length}}</span>
              </h3>
          </div>
          <div class="col">
              <ul class="code-list">
                  <li>
                      <mat-form-field appearance="outline">
                          <mat-label>Escolha uma data..</mat-label>
                          <input  matInput [matDatepicker]="picker" (dateChange)="gettingDate($event)">
                          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                          <mat-datepicker #picker></mat-datepicker>
                      </mat-form-field>
                    </li>
                  <li>
                      <mat-form-field appearance="outline">
                          <mat-label>Escolha o Codigo...</mat-label>
                          <mat-select [(ngModel)]= "simulatorCode">
                            <!--The value property is important! -->
                            <mat-option  *ngFor="let element of mysimulator.codes; let i = index" [value] = "element">{{element}}</mat-option>
                          </mat-select>
                      </mat-form-field>
                  </li>
                  
              </ul>
          </div>
       
    </div>
</div>
<div class="container page-body-container">
    <div class="row">
        <div class="col">
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Pulsos</th>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">Carotideo Direito </th>
                    <td>
                        <mat-form-field appearance="outline">
                            <mat-label>Escolha...</mat-label>
                            <mat-select [(ngModel)]="carotideoDireitoValue">
                              <mat-option value="Parou de Funcionar">Parou de Funcionar</mat-option>
                              <mat-option value="Pulso Fraco">Pulso Fraco</mat-option>
                              <mat-option value="Nenhuma Falha">Nenhuma Falha</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </td>
                    
                  </tr>
                  <tr>
                    <th scope="row">Carotideo Esquerdo</th>
                    
                    <td>
                        <mat-form-field appearance="outline">
                        <mat-label>Escolha...</mat-label>
                        <mat-select [(ngModel)]="carotideoEsquerdoValue">
                          <mat-option value="Parou de Funcionar">Parou de Funcionar</mat-option>
                          <mat-option value="Pulso Fraco">Pulso Fraco</mat-option>
                          <mat-option value="Nenhuma Falha">Nenhuma Falha</mat-option>
                        </mat-select>
                        </mat-form-field>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">Radial direito</th>
                    <td colspan="2">
                        <mat-form-field appearance="outline">
                            <mat-label>Escolha...</mat-label>
                            <mat-select [(ngModel)]= "radialDireitoValue">
                              <mat-option value="Parou de Funcionar">Parou de Funcionar</mat-option>
                              <mat-option value="Pulso Fraco">Pulso Fraco</mat-option>
                              <mat-option value="Nenhuma Falha">Nenhuma Falha</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">Braqueal direito</th>
                    <td colspan="2">
                        <mat-form-field appearance="outline">
                            <mat-label>Escolha...</mat-label>
                            <mat-select [(ngModel)] = "braquealDireitoValue">
                              <mat-option value="Parou de Funcionar">Parou de Funcionar</mat-option>
                              <mat-option value="Pulso Fraco">Pulso Fraco</mat-option>
                              <mat-option value="Nenhuma Falha">Nenhuma Falha</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">Aparelho de medir Pressão</th>
                    <td colspan="2">
                        <mat-form-field appearance="outline">
                            <mat-label>Escolha...</mat-label>
                            <mat-select [(ngModel)] = "manguitoValue">
                              <mat-option value="Parou de Funcionar">Parou de Funcionar</mat-option>
                              <mat-option value="Nenhuma Falha">Nenhuma Falha</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </td>
                  </tr>
                </tbody>
            </table>  
        </div>
        <div class="col">
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Gerais</th>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">Incursões Respiratórias </th>
                    <td>
                        <mat-form-field appearance="outline">
                            <mat-label>Escolha...</mat-label>
                            <mat-select [(ngModel)] = "incursoesRespValue">
                              <mat-option value="Parou de Funcionar">Parou de Funcionar</mat-option>
                              <mat-option value="Nenhuma Falha">Nenhuma Falha</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </td>
                    
                  </tr>
                  <tr>
                    <th scope="row">Eletrodos para Monitorização</th>
                    <td>
                        <mat-form-field appearance="outline">
                        <mat-label>Escolha...</mat-label>
                        <mat-select [(ngModel)] = "eletrodosMonitValue">
                          <mat-option value="Parou de Funcionar">Parou de Funcionar</mat-option>
                          <mat-option value="Faltam Eletrodos">Faltam Eletrodos</mat-option>
                          <mat-option value="Nenhuma Falha">Nenhuma Falha</mat-option>
                        </mat-select>
                        </mat-form-field>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">Bordas de Choque Elétrico</th>
                    <td colspan="2">
                        <mat-form-field appearance="outline">
                            <mat-label>Escolha...</mat-label>
                            <mat-select [(ngModel)] = "bordasChoqueValue">
                              <mat-option value="Parou de Funcionar">Parou de Funcionar</mat-option>
                              <mat-option value="Faltam Bordas">Faltam Bordas</mat-option>
                              <mat-option value="Nenhuma Falha">Nenhuma Falha</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">Ausculta Cardiaca</th>
                    <td colspan="2">
                        <mat-form-field appearance="outline">
                            <mat-label>Escolha...</mat-label>
                            <mat-select [(ngModel)] = "auscultaCardiacaValue">
                              <mat-option value="Parou de Funcionar">Parou de Funcionar</mat-option>
                              <mat-option value="Nenhuma Falha">Nenhuma Falha</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">Ausculta Pulmonar</th>
                    <td colspan="2">
                        <mat-form-field appearance="outline">
                            <mat-label>Escolha...</mat-label>
                            <mat-select [(ngModel)] = "auscultaPulmonarValue">
                              <mat-option value="Parou de Funcionar">Parou de Funcionar</mat-option>
                              <mat-option value="Nenhuma Falha">Nenhuma Falha</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </td>
                  </tr>
                </tbody>
            </table> 
            
        </div>
        <div class="gerar-relatorio-btn-container">
            <div class="btns-relatorio">
                <button type="button" class="btn btn-outline-secondary" routerLink="/simuladores">Voltar</button>
                <button type="button" class="btn btn-outline-success" (click)="onSubmit()">Gerar Relatorio</button>
            </div>
        </div>
    </div>
</div>