.page-tittle{
    
    margin-left: 13px;
    margin-top: 10px;
  
}
.filter{
    float: right;
    margin-right: 14px;
}
.col-3{
    width: 266px;
    margin-left: 12px;
    margin-bottom: 10px;
    .card{
        width: 15rem;
    }
}
