<p>relatorios works!</p>
<div class="row">
    <div class="col-3" *ngFor="let element of relatorios">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Simulator Name</h5>
            <p class="card-text">Some example text </p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Codigo: 30218</li>
            <li class="list-group-item">Data: 10/05/2022</li>
          </ul>
          <div class="card-body">
            <span class="pdf-tittle">PDF Download: </span>
            <a href="#" class="card-link">Download</a>
          </div>
        </div>
    </div>
</div>