@import './../../assets/scss/variables';

.page-tittle{
    
    margin-left: 13px;
    margin-top: 10px;
  
}

.relatorios-container{
    margin-top: 1em;
    margin-left: 1em;
    margin-right: 3em;
    //background-color: white;
    //box-shadow: $mybox-shadow;
    //border-radius: 10px;
    .padding-container{
        padding: 10px;
    }
    .row{
        gap: 10px;

        .card{
            width: 15rem;
            margin-top: 10px;
            box-shadow: $mybox-shadow;
            background-color: white;
            .list-group{
                    
                    li{
                        background-color: white;
                    }
            }
            .card-footer{
                .download-btn{
                   margin: auto;
                   width: 200px;
                   color: $homeLeftContainerColor;
                }
            }
        }
    }
}

