<div class="side-panel-border">
    <div class="first-side-panel">
        <!--<span><img src="assets/imgs/icons/line-start.png" class="line-icon" alt=""></span>-->
        <ul class="first-side-menu-list">
          <li><img src="assets/imgs/icons/AddSimulator-icon.png" alt=""><a data-bs-toggle="modal" (click)="openDialog()">Adicionar Simulador</a></li>
          <li><img src="assets/imgs/icons/Status-icon.png" alt=""><a routerLink="status">Status Geral Simulador</a></li>
          <hr class="horizontal-line">
        </ul>
       
    </div>
    
    <div class="second-side-panel">
        <ul class="second-side-menu-list">
          <li><img src="assets/imgs/icons/email-icon.png" alt=""><span>administrator@gmail.com</span></li>
          <li><img src="assets/imgs/icons/contact-phone.png" alt=""><span>(31)9933882992</span></li>
        </ul>
      </div>
</div>
