@import '../../assets/scss/variables';

.page-tittle{
    position: absolute;
    margin-left: 13px;
    margin-top: 10px;
  
}
.row{
    padding-top: 70px;
    margin-left: -12px;
}
.col-3{
    margin-bottom: 25px;
    
    .card-box{
        box-shadow:$mybox-shadow;
        background-color: white;
        border-radius: 10px;
        width: 264px;
        height: 195px;
        margin-right: 10px;
        margin-left: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;

        .left-box{
            //box-shadow: 2px 0px 11px -3px #888888;
            max-height: 30px;
            position: absolute;
            margin-left: -20px;
            margin-top: 10px;
            background-color: $mainContentBackgroundColor;
            border-radius: 8px;
            p{
                font-size: 13px;
                padding: 4px;
                margin-right: 5px;
            }
        }
        .img-container{
            width: 100%;
            padding: 10px;
            display: flex;
            //justify-content: center;

            img{
                width: 230px;
                height: 130px;
            }
        }
    }
    .link-container{
        padding: 5px;
        border-radius: 5px;
        //border: 2px solid #EBEBEB;
        background-color:#EBEBEB ;
        box-shadow: 2px 0px 11px -3px #888888;
        a{
            color: black;
            text-decoration: dotted;
            font-family: Arial, Helvetica, sans-serif;
            font-weight: 1000;
            color: $homeLeftContainerColor;
        
        }
        &:hover{
            a{
                color: white;
            }
            box-shadow: 2px 0px 11px -3px #888888;
            background-color:$btnsBackgroundColor;
        }
    }
}


