<div class="page-tittle">
    <h2>Simuladores Cadastrados</h2>
</div>
<div class="row">
    <div class="col-3" *ngFor="let element of data">
        <div class="card-box">
            <div class="img-container">
                <div class="left-box">
                    <p>{{element.name}}</p>
                </div>
                <img [src]="element.imgPath" alt="">
            </div>
            <div class="link-container">
                    <a routerLink="/simuladores/{{element.id}}">Enviar Relatório</a>
            </div>
        </div>
    </div>
</div>
