<h2>Aula de {{classeFromJson.name}}</h2>
<mat-card>
    <mat-card-content>
        <div class="container">
            <div class="row">
                <div class="col-6 left-colum">
                    <section class="example-section">
                        <p><strong>Preparo</strong></p>
                        <p *ngFor="let checkbox of classeFromJson.classMaterial"><mat-checkbox #checkBoxProperty (change)="changeFunction(checkbox,checkBoxProperty.checked)" class="example-margin">{{checkbox.item}}</mat-checkbox></p>
                      </section>
                </div>
                <div class="col-6 right-colum">
                    <p><strong>Seu kit</strong></p>
                    <mat-list role="list">
                        <mat-list-item role="listitem" *ngFor="let element of checkBoxesSelected">
                            <span matListItemTitle>{{element.item}}</span>
                            <span matListItemLine>Quantidade: {{element.quantity}}</span>
                        </mat-list-item>
                    </mat-list>
                </div>
            </div>
        </div>
        <div class="kit-btns">
            <button mat-stroked-button routerLink="/private/aulas" class="confirm-kit">Voltar</button>
            <button mat-raised-button class="confirm-kit" (click)="openDialog()">Confirmar kit</button>
        </div>
    </mat-card-content> 
</mat-card>
