<p>Aula de {{classeFromJson.name}}</p>
<mat-card>
    <mat-card-content>
        <div class="container">
            <div class="row">
                <div class="col-6 left-colum">
                    <section class="example-section">
                        <p>Preparo</p>
                        <p *ngFor="let checkbox of classeFromJson.classMaterial"><mat-checkbox (change)="changeFunction()" class="example-margin">{{checkbox.item}}</mat-checkbox></p>
                      </section>
                </div>
                <div class="col-6 right-colum">
                    <p>Seu kit</p>
                    <mat-list role="list">
                        <mat-list-item role="listitem">Item 1</mat-list-item>
                        <mat-list-item role="listitem">Item 2</mat-list-item>
                        <mat-list-item role="listitem">Item 3</mat-list-item>
                      </mat-list>
                </div>
            </div>
        </div>
        <button mat-flat-button routerLink="/private/aulas" class="confirm-kit">Voltar</button>
        <button mat-raised-button class="confirm-kit">Confirmar kit</button>
    </mat-card-content> 
</mat-card>
