<h1 mat-dialog-title>Local de armazenamento</h1>
<div mat-dialog-content>
  <mat-form-field appearance="fill">
    <mat-label>Local</mat-label>
    <mat-select [(ngModel)]="storageValue">
        <mat-option value="20">Armário 20</mat-option>
        <mat-option value="30">Armário 30</mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Cancelar</button>
  <button mat-button cdkFocusInitial (click)="getKitModal()">Armazenar</button>
</div>