<div class="home-panel">
   
    <div class="container">
        <div class="row">
            <div class="col left-col">
                <div class="left-col-container">
                    <div class=" container home-msg-container">
                        <h4 class="welcome-msg">Bem vindo {{appservice.logedUser?.name}} !</h4>
                    </div>
                    <div class="home-list">
                        <div class="list-title">
                            <img src="assets/imgs/icons/dataset.png" alt="">
                            <span>Funcionalidades</span> 
                        </div>
                        <ul>
                            <li><img src="assets/imgs/icons/sunny.png" alt=""><span>Registro de falhas do simulador</span></li>
                            <li><img src="assets/imgs/icons/routine.png" alt=""><span>Produção de relatórios</span></li>
                            <li><img src="assets/imgs/icons/sunny.png" alt=""><span>Acompanhamento de estatus</span></li>
                            <li><img src="assets/imgs/icons/routine.png" alt=""><span>Preparo de aulas</span></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col right-col">
                <div class="right-col-container">
                        <div class="center-content">
                            <img src="../../../assets/imgs/logo/linchpinLogo.svg" alt="">
                        </div>
                </div>
            </div>
        </div>
    </div>
   
</div>
