@import './../assets/scss/variables';
.main-content {
    position: absolute;
    left: $sidebar-width;
    top: $topbar-height;
    height: 100%;
    width: calc(100% - #{$sidebar-width});
    
    .main-content-box{
        margin: 20px;
        margin-left: -11px;
        box-shadow: $mybox-shadow;
        border-radius: 15px;
        height: 100%;
        background-color: #ebebeb;
    }
}
