<div class="topbar-container">
    <div class="row">
        <div class="col-4">
            <span class="app-burguer">
                    <button class="menu-btn" mat-button [matMenuTriggerFor]="menu"><mat-icon>menu</mat-icon>Menu</button>
                        <mat-menu #menu="matMenu">
                            <button mat-menu-item>Sobre</button>
                            <button mat-menu-item routerLink="/login"> <strong>Sair</strong></button>
                        </mat-menu>
            </span>
             
        </div>
        <div class="col-8">
            <ul class="menu-links">
                <li routerLinkActive='active' routerLink="/private/home">Home</li>
                <li routerLinkActive='active' routerLink="/private/simuladores">Simuladores</li>
                <li routerLinkActive='active' routerLink="/private/relatorios">Relatórios</li>
              </ul>
        </div>
    </div>
</div>
