@import '../../../assets/scss/variables';

.topbar-container{
    position: absolute;
    z-index: 1;
    width: 100%;
    height: $topbar-height;
    left: 0;
    right: 0;
    padding-top: 5px;
    box-shadow: $mybox-shadow;
    
    .col-4{
        display: inline-flex;
        margin-top: 9px;

        .app-burguer{
            margin-left: 15px;
            .menu-btn{
                &:hover{
                    background-color:$homeLeftContainerColor;
                    color: white;
                }
                
            }
        }
       .welcome-msg{
           margin-left: 208px;
           margin-top: 0px;
       }
    }

    .user-name-container{
        display: inline-flex;
        .user-icon{
            margin-top: 8px;
        }
        .user-name{
            margin-top: 10px;
            margin-left: 7px;
        }
    }
    
    .menu-links{
        float: right;
        margin-top: 1px;
        margin-right: 10px;
        list-style: none;
        display: inline-flex;
        font-size: 19px;

        li{
            padding: 10px;
            margin-right: 10px;

            &:hover, &.active{
                cursor: pointer;
                background-color: $homeLeftContainerColor;
                border-radius: 4px;
                color: white;
            }
        }
        
    }
}