
<h1 mat-dialog-title>Adicionar simulador</h1>
<div mat-dialog-content>
    <mat-form-field>
    <mat-label>Novo simulador</mat-label>
        <mat-select>
            <mat-option value="simManALs">SimManALS</mat-option>
            <mat-option value="simMan3G">SimMan3G</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field hintLabel="Max 6 characters" appearance="fill">
        <mat-label>Codigo do simulador</mat-label>
        <input matInput #input maxlength="6" placeholder="Ex. CC3TCF">
        <mat-hint align="end">{{input.value.length}}/6</mat-hint>
    </mat-form-field>
    <p class="button-paragraph">
        <button mat-raised-button
        matTooltip="Adicione uma imagem"
        aria-label="Button that displays a tooltip when focused or hovered over">
        Imagem
        </button>
    </p>
</div>
<div mat-dialog-actions>
    <button mat-button mat-dialog-close>Cancelar</button>
    <button mat-raised-button mat-dialog-close>Confirmar</button>
  </div>
